{% extends "template.html" %}

{% block title %}T.A.C.O. Smart | Editar Paciente{% endblock %}
{%block head%} 

{% endblock%}
{% block body %}
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="row" style="width: 100%;"  >
	<div class="col-md-3 col-sm-offset-4">
		<div class="page-header">
			<h2>Editar Paciente</h2>
		</div>
		{% include '_messages.html' %}
		<form method="post" action="" enctype="multipart/form-data">
			{% csrf_token %}
			{% bootstrap_form form %}
			<button type="submit" class="btn btn-primary">Guardar cambios</button>
			<button type="submit" class="btn btn-secondary" onClick="javascript:history.go(-1);">Volver</button>
		</form>
	</div>
</div>

{% endblock %}
