{% extends "template.html" %}
{% load table_tags %}
{% block title %}T.A.C.O. Smart | Inicio{% endblock %}
{%block heading%} {% endblock%}
{% block body %}
	{% load bootstrap3 %}
	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% bootstrap_javascript %}

	<div class="container" style="margin-top: 10px">
		{% include '_messages.html' %}
		{% if mensaje %}
			<div class="alert alert-danger">
			{{ mensaje }}<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="page-header">
			<h2>Lista de Trabajo</h2>
		</div>
		{% render_table listarPersonas %}
		<a href="{% url 'ingreso' %}" class="btn btn-primary" type="submit">Ingresar Paciente</a>
	</div>
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content col-md-5 col-sm-offset-3">
				
			</div>
		</div>
	</div>
{% endblock%}