{% extends "template.html" %}
{% load table_tags %}

{% block title %}T.A.C.O. Smart | Controles{% endblock %}
{%block heading%}<script>
        $( ".btn" ).click(function() {
                $.ajax({
                    url: "{% url 'ajax_dosis' %}",
                    type: "get",
                    success: function(dosis){
                        alert(dosis);
                    }
                });
            });
        </script> {% endblock%}
{% block body %}
    <div class="container" style="margin-top: 10px">
        <form>
        <h2>Paciente: {{ paciente.persona.persona_nombre }} {{ paciente.persona.persona_apellidopaterno }} {{ paciente.persona.persona_apellidomaterno }}</h2>
        {% include '_messages.html' %}
        {% if mensaje %}
            <div class="alert alert-danger">
            {{ mensaje }}<button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <script>
        $( ".btn" ).click(function() {
                $.ajax({
                    url: "{% url 'ajax_dosis' %}",
                    type: "get",
                    success: function(dosis){
                        alert(dosis);
                    }
                });
            });
        </script>
        {% render_table listaControles %}
        <script>
        $( "#detalle" ).click(function() {
                $.ajax({
                    url: "{% url 'ajax_dosis' %}",
                    type: "get",
                    success: function(dosis){
                        alert(dosis);
                    }
                });
            });
        </script>
        <a href="control" class="btn btn-primary" type="submit">Nuevo Control</a>
        </form>
    </div>
{% endblock body %}
